<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>支付页面</title>
</head>
<body>
模拟支付面

<th:block th:if="${orderId != null}">
<form  th:action="@{'/user/permission/order/payOrder.do?orderId='+${orderId}}" action="/user/permission/order/payOrder.do?orderId=${orderId}" method="post">
    <input type="submit" value="确认支付" />
</form>
</th:block>

<th:block th:if="${orderId == null}">
<form th:action="@{/user/permission/order/payOrder.do}" action="/user/permission/order/payOrder.do?orderId=${pageContext.request.getParameter('orderId')}" method="post">
    <input type="hidden" th:value="${#httpServletRequest.getParameter('orderId')}" name="orderId"></input>
    <input type="submit" value="确认支付" />
</form>
</th:block>
</body>
</html>